
.spacing{
    letter-spacing: 5px;
    text-align: center;
}
.alignment{
    text-align:center;
}
.content_title_size{
    font-size: 20px;
}

.back_img{
    background-image: url("../img/lviv.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.underline{
    text-decoration: underline;
}
.crossing{
    text-decoration: line-through;
}